@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome </h1>
    <p class="fs-4">
        Hola esta es una página de inicio simple. Para ver las opciones inicie sessión:
    </p>
    <p class="fs-5 mt-4 text-primary">La cuenta admin por defecto es: admin@macberri.com y su contraseña es: admin123</p>
    <p class="fs-5 mt-4 text-primary">La cuenta standard por defecto es: carlos_h@gmail.com y su contraseña es: carlosmiguel</p>
</div>
