
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MiniProyectoMacBerri.ModelsViews.UserViewModel

@{
    var id_user = ViewContext.RouteData.Values["id_user"];
}

<div class="w-100 h-100 d-flex justify-content-center align-items-center">
    <form asp-controller="User" asp-action="Update" method="post" class="my-auto d-flex flex-column gap-4 shadow-lg p-5 rounded-2">
        <h1 class="display-5 my-4 fw-normal">Actualizar usuario</h1>
        <div class="mb-3">
            <label class="form-label">Nombres:</label>
            <input type="text" class="form-control" required asp-for=@Model.userDto.Names asp-val />
        </div>
        <div class="mb-3">
            <label class="form-label">Apellidos:</label>
            <input type="text" class="form-control" required asp-for=@Model.userDto.Lastnames />
        </div>
        <div class="mb-3">
            <label class="form-label">Email:</label>
            <input type="email" class="form-control" required asp-for=@Model.userDto.Email />
        </div>
        <div class="mb-3">
            <label class="form-label">Contraseña:</label>
            <input type="text" class="form-control" required asp-for=@Model.userDto.Password />
        </div>
        <div class="mb-3">
            <label class="form-label">Rol:</label>
            <select class="form-select" aria-label="Default select example" required asp-for=@Model.userDto.Id_rol>
                <option selected>Seleccione...</option>
                @foreach (var rol in Model.roles)
                {
                    <option value=@rol.IdRol>@Html.DisplayFor(m => rol.Name)</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary w-100 py-2 fs-5">Ingresar</button>
    </form>
</div>

