
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Service>

<div>
    <h1 class="display-5 fw-normal my-5">Crud de Servicios</h1>
    <div class="d-flex my-3 justify-content-end">
        <a class="btn btn-primary" asp-controller="Service" asp-action="Create">Agregar Servicios</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Image</th>
                    <th scope="col" class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @{int index = 1;}
                @foreach (var service in Model)
                {
                    <tr>
                        <th scope="row">@index</th>
                        <td>@Html.DisplayFor(m => service.Name)</td>
                        <td class="truncate">@Html.DisplayFor(m => service.Description)</td>
                        <td class="truncate">@Html.DisplayFor(m => service.UrlImage)</td>
                        <td>
                            <div class="d-flex justify-content-center gap-2 w-100">
                                <a class="btn btn-warning" asp-action="Update" asp-controller="Service" asp-route-id_service=@service.IdService>
                                    <i class="bi bi-pencil text-white"></i>
                                </a>
                                <a class="btn btn-danger" asp-action="Delete" asp-controller="Service" asp-route-id_service=@service.IdService>
                                    <i class="bi bi-trash text-white"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    index++;
                }
            </tbody>
        </table>
    </div>
</div>


